<section class="c-upload h-screen">
    <div class="text-white w-full h-full grid place-center this-is__super-centered">
        <div class="container mx-auto">
            <div class="c-upload__content grid place-center relative p-8 w-auto w-md-full this-is__super-centered">
                <div class="text-center w-full w-xl-half relative">

                    <h1 class="heading-m">Upload Photos and Videos</h1>
                    <p class="description-l mt-4">We are glad you decided to</br>our cause!</p>

                    <!-- 
                        this block doesn't use semantic html upload, 
                        due to focus on design & css implementation only -->

                    <div class="c-upload__area mt-8 p-8">
                        <button class="btn">Browse</button>
                        <p class="description-m mt-4">or drag and drop</p>
                    </div>

                    <!-- 
                        this is the semantic type to upload files, 
                        you will need javascript to combine this design with upload functionality

                        <form action="" method="POST">
                            <input type="file">
                            <input type="submit">
                        </form>  
                    -->

                </div>
            </div>
        </div>
    </div>
</section>